.wrapper{
    width: calc(100% - 2px);
    padding: 22px 28px 0 28px;
    background-color: white;
    color: rgba(17, 17, 17, 0.8);
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    position: relative;
    box-sizing: border-box;
}

.main{
    display: flex;
    flex-direction: column; 
    gap: 42px;
    color: rgba(17, 17, 17, 0.8);
}

.footer{
    display: flex;
    min-height: 168px;
    align-items: center;
}

.title{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    vertical-align: middle;
}

.section{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.closeBtn{
    position: absolute;
    width: 36px;
    height: 36px;
    padding: 10px;
    box-sizing: border-box;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

.closeBtn:hover{
    opacity: 20%;
}

hr{
    border: 1px dashed rgba(82, 110, 255, 1);
    opacity: 20%;
}

.chooseParametrContainer{
    display: flex;
    flex-direction: column;
    row-gap: 42px;
    column-gap: 16px;      
}

.inputContainer{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.addedParamContainer{
    display: grid;
    /* flex-direction: column; */
    grid-template-columns: auto;
    row-gap: 24px;
    column-gap: 16px;
    flex-wrap: wrap;
}

@media (min-width: 768px) { 
    .wrapper{
        max-width: 990px;
        padding: 58px 80px 58px 80px;
    }

    .chooseParametrContainer{
        flex-direction: row;
        justify-content: space-between;
    }

    .inputContainer{
        flex-direction: row; 
    }

    .addedParamContainer{
        /* flex-direction: row; */
        grid-template-columns: repeat(3, 1fr);
    }
    
}