.inputParameter{
    display: flex;
    flex-direction: column;
    gap: 8px;
    /* flex-grow: 1; */
    flex: 1;
}

.inputParameterLabel{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    vertical-align: middle;
    flex: 1;
}

.inputParameterInput{
    width: 100%;
    padding: 24px 23px;
    height: 56px;
    border-radius: 8px;
    border: 1px solid rgba(17, 17, 17, 0.32);
    box-sizing: border-box;
    color:rgba(17, 17, 17, 0.64);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Roboto';
    vertical-align: middle;
    /* Стили для убирания стрелок */
    -webkit-appearance: none; /* Убирает стрелки в Chrome, Safari, Edge */
    -moz-appearance: textfield; /* Убирает стрелки в Firefox */
    appearance: none; /* Стандартное свойство для всех браузеров */
}

.inputParameterInput::placeholder{
    color: rgba(17, 17, 17, 0.32);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    vertical-align: middle;
}

.inputParameterInput:focus{
    border-color: rgba(17, 17, 17, 0.64);
    color:rgba(17, 17, 17, 1);
}

.inputParameterInput:disabled{
    background-color: white;
}

.inputParameterInput:disabled::placeholder{
   color:rgba(17, 17, 17, 0.64); 
}

/* Дополнительно убираем псевдоэлементы спиннеров */
.inputParameterInput::-webkit-inner-spin-button,
.inputParameterInput::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}